<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de">  <!--<![endif]-->
<head>

	<!-- META DATA -->
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="UTF-8">
	<title>iKya - Inovando para descobrir seu cliente</title>
    <meta name="description" content="A Template by RocknRolla Designs"/>
    <meta name="keywords" content="HTML, CSS, JavaScript, PHP"/>
    <meta name="author" content="RocknRolla Designs"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
       <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<!-- GOOGLE WEB FONTS INCLUDE -->
	<link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans:400,600' rel='stylesheet' type='text/css'>
	
	<!-- JARVIS THEME STYLESHEETS -->
     
	<link rel="stylesheet" href="css/skeleton.css" type="text/css">
	<link rel="stylesheet" href="css/reset.css" type="text/css">    
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/social.css" type="text/css">             
	<link rel="stylesheet" href="css/flexslider.css" type="text/css">	
	<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen"/><!-- PrettyPhoto -->	
	<link rel="stylesheet" href="css/font-awesome.css" type="text/css"/><!-- PrettyPhoto -->    
	<link rel="stylesheet" href="css/shortcodes.css" type="text/css"/> 	
	<link rel="stylesheet" href="css/media.css"><!-- Media Queries -->
         
    
 	<link id="layout_color" href="css/light.css" rel="stylesheet" type="text/css"/>  
    <link id="primary_color_scheme" href="css/colors/blue.css" rel="stylesheet" type="text/css"/>      
       
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
		   
    
</head>

<body class="onepage" data-spy="scroll" data-target=".navigation">
 <div id="load"></div>
 

    	
    
    <!-- START PAGE WRAP -->    
    <div class="page-wrap">
    
 <div id="home" class="home-parallax home4" >
      <div class="home-text-wrapper">

      <div class="sixteen columns">     
             
                <div class="home-logo-text">

                  <img src="images/main-logo.png" title="logo" alt="Logo"/>
                </div>
      </div>          
           <div class="container clearfix">
              <div class="home-quote">
                <h1>
                    <span class="slabtext">Entenda o perfil do seu cliente,</span>
                    <span class="slabtext second-child"> Analise, Otimize e Lucre</span>                                   
                </h1>
              </div>
           </div><!-- END CONTAINER -->
       </div><!-- END CS TEXT CONTAINER -->
  </div>
  <!-- END HOME SECTION -->
	
	
    <!-- START NAVIGATION -->
    <nav class="light sticky-nav navigation">
     <!-- START CONTAINER -->	
      <div class="container clearfix">			
          <div class="four columns">			
              <!-- START LOGO -->	
              <div class="logo large">
               <a href="#home"><img src="images/logo.png" title="logo" alt="Logo"/></a>
              </div>
              <!-- END LOGO -->			
          </div><!-- END FOUR COLUMNS -->   
          
                   
          <div class="twelve columns">            		
              <!-- START NAVIGATION MENU ITEMS -->
              <ul class="main-menu large nav" id="nav">
                  <li><a href="#home">Home</a></li>                
                  <li><a href="#about">Sobre</a></li>
                 
                                 
                  <li><a href="#contact">Contato</a></li>
              </ul>
              <!-- END NAVIGATION MENU ITEMS -->				
          </div><!-- END TWELVE COLUMNS -->	
      </div><!-- END CONTAINER -->	
    </nav>
    <!-- END NAVIGATION -->
	
	
	<!-- START ABOUT US SECTION -->	
	<div id="about" class="page">
	
		<div class="container">	
           <div class="row">	
			<div class="sixteen columns">            
	            <!-- START TITLE -->	            
				<div class="title">
				  <h1>Sobre a iKya</h1>
                  <div class="subtitle">
                  </div><!-- END SUBTITLE -->
                </div><!-- END TITLE -->  	                           
			</div><!-- END SIXTEEN COLUMNS -->  
           </div><!-- END ROW -->         
          </div><!-- END CONTAINER -->
          



<div class="fullwidth grey">
        <div class="container">  
        <div class="fancy-header2">       
           <h4>O que nós fazemos?</h4>
           <h2 class="highlight">Uma Plataforma completa para entender seu cliente.</h2>
        </div>
           
         <div class="row">          
                <div class="one-third column">
                  <div class="service-features">
                  <div class="img-container">
                    <img src="images/icons/icons/paperplane.png" alt="Service Features">
                  </div>  
                    <h3>Inove</h3>                
                    <p> Possuímos ferramentas para inovar a forma com que você se relaciona com seu cliente. Crie seu próprio programa de pontos. </p>
                  </div>               
                </div><!-- END ONE THIRD COLUMN -->
                
                <div class="one-third column">
                  <div class="service-features">
                  <div class="img-container">
                    <img src="images/icons/icons/lab.png" alt="Service Features">
                  </div>                   

                    <h3>Analise</h3>                
                    <p> Encontre padrões comportamentais em seus clientes, verifique alcance de campanhas.</p>
                  </div>               
               
                </div><!-- END ONE THIRD COLUMNS -->   
                
                <div class="one-third column">
                  <div class="service-features">
                  <div class="img-container">                  
                    <img src="images/icons/icons/like.png" alt="Service Features">
                  </div>
                    <h3>Otimize</h3>                
                    <p> Preveja possíveis quedas nas vendas antes mesmo que elas aconteçam. Entenda como seu cliente pensa e em que momentos ele compra mais ou menos.</p>
                  </div>               
                
                </div><!-- END ONE THIRD COLUMNS -->                 
                 
                    
     
                
            </div><!-- END ROW -->                            		
		</div><!-- END CONTAINER --> 
        </div>        
           
                
      
            
        <div class="container">  

            <div class="row">
               <div class="sixteen columns">
                 <h2>Alcance suas metas!</h2>
               </div><!-- END SIXTEEN COLUMNS -->
               
               <div class="four columns">
                 <div class="milestone-counter" data-perc="9999">
                   <span class="milestone-count highlight"></span>
                   <h6 class="milestone-details">Indicadoes em tempo real</h6>
                 </div>
               </div><!-- END FOUR COLUMNS -->  

               <div class="four columns">
                 <div class="milestone-counter" data-perc="9999">
                   <span class="milestone-count highlight"></span>
                   <h6 class="milestone-details">Relatórios</h6>
                 </div>
               </div><!-- END FOUR COLUMNS --> 
               
               <div class="four columns">
                 <div class="milestone-counter" data-perc="9999">
                   <span class="milestone-count highlight"></span>
                   <h6 class="milestone-details">Seus clientes</h6>
                 </div>
               </div><!-- END FOUR COLUMNS --> 
               
               <div class="four columns">
                 <div class="milestone-counter" data-perc="9999">
                   <span class="milestone-count highlight"></span>
                   <h6 class="milestone-details">Business Intelligence</h6>
                 </div>
               </div><!-- END FOUR COLUMNS -->                                                                                   
           </div><!-- END ROW -->
		</div><!-- END CONTAINER --> 
        
        		
	  </div>
	  <!-- End ABOUT US SECTION -->
	
	
	<!-- START PARALLAX SECTION -->	
	<div id="parallax1" class="parallax">
		<div class="bg1 parallax-bg"></div><!-- END PARALLAX BACKGROUND -->
		<div class="overlay"></div><!-- END PATTERN OVERLAY -->
		<div class="container clearfix">
			<div class="parallax-content">
				<p class="quote"><i class="icon-quote-left"></i>Alcance seus consumidores de forma inovadora. Maximize seus lucros conquistando novos clientes. Fidelize-os.<i class="icon-quote-right"></i></p>
				
			</div><!-- END PARALLAX CONTENT -->
		</div><!-- END CONTAINER -->
	</div>
	<!-- END PARALLAX SECTION -->
	
	
	

	
	<!-- START CONTACT SECTION -->
	<div id="contact" class="page">
    
		<div class="container">	
           <div class="row">	
			<div class="sixteen columns">            
	            <!-- START TITLE -->	            
				<div class="title">
				  <h1>Contato</h1>
                  <div class="subtitle">
                      <p>Quer ser o primeiro a testar esta plataforma? Informe os dados abaixo que avisaremos quando estiver pronto!</p>
                  </div><!-- END SUBTITLE -->
                </div><!-- END TITLE -->  	                           
			</div><!-- END SIXTEEN COLUMNS -->  
           </div><!-- END ROW -->         
          </div><!-- END CONTAINER -->         
		<div class="container clearfix">
			<div class="sixteen columns">
				
	   <!-- START CONTACT BOX -->
      <div class="contact-box">
        <!-- START CONTACT FORM -->
         <div id="contact-form">			
            <form action="subscribe.php" method="post">
           
                <div id="contact-input">
                 <!--[if IE]>
                    <label for="name">Name</label>
                <![endif]-->
                  <input type="text" name="contact[name]" id="name" placeholder="Nome (origatório)" >
                   <!--[if IE]>
                   		<label for="email">Email</label>
                    <![endif]-->
                  <input type="text" name="contact[email]" id="email" placeholder="E-mail (obrigatório)">
                   <!--[if IE]>
                   		<label for="subject">Subject</label>
                    <![endif]-->
                  <input type="text" name="contact[subject]" id="subject" placeholder="Assunto" >
                </div>
                <div id="contact-textarea">
                 <!--[if IE]>
                   		<label for="message">Your Message Here</label>
                    <![endif]-->
                  <textarea name="contact[message]" id="message" cols="39" rows="4" placeholder="Sua Mensagem"></textarea>
                </div>
                <div id="contact-submit">
                  <div>
                    <input name="submit" type="submit" id="submit" tabindex="5" value="Post Comment" class="comment-submit small button">
                  </div>
                </div>
              </form> 
         <div class="clear"></div>
          </div>
           <div class="result"></div>  
		<!-- END CONTACT FORM -->
	
        	
		</div>

        <!-- END CONTACT BOX -->
		</div> <!-- END SIXTEEN COLUMNS -->        
	</div><!-- END CONTAINER -->
 
      <!-- START COPYRIGHT SECTION -->   	
       <div class="copyright">
     <div class="container clearfix">
        <div class="sixteen columns">   
        <div class="copyright-logo"><a href="#"><img src="images/logo.png" title="logo" alt="logo"/></a></div>   
          
			<p>&copy; 2014 All Rights Reserved. iKya</p>
            
         </div> <!-- END SIXTEEN COLUMNS -->        
	  </div><!-- END CONTAINER -->
     </div>
     <!-- END COPYRIGHT SECTION -->	 
      
	</div>
    <!-- END CONTACT SECTION -->		
	
	
   </div><!-- END PAGE WRAP --><div id="back-to-top"><a href="#">Voltar ao topo</a></div>
   

           

	<!-- JARVIS THEME SCRIPTS -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>         
    <!--<script type="text/javascript" src="js/jquery.tweet.js"></script>-->         
    <script type="text/javascript" src="js/jquery.form.js"></script>
	<script type="text/javascript" src="js/jquery.queryloader2.js"></script>        
    <script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>  
    <script type="text/javascript" src="js/jquery.fitvids.js"></script>  
    <script type="text/javascript" src="js/jquery.appear.js"></script>  
    <script type="text/javascript" src="js/jquery.slabtext.min.js"></script>   
    <script type="text/javascript" src="js/jquery.fittext.js"></script>   
	<script type="text/javascript" src="js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
	<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="js/jquery.sticky.js"></script>
	<script type="text/javascript" src="js/selectnav.min.js"></script>    
    <script type="text/javascript" src="js/SmoothScroll.js"></script>   
    <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>    
    <script type="text/javascript" src="js/isotope.js"></script>    
    <script type="text/javascript" src="js/bootstrap-modal.js"></script>   
    <script type="text/javascript" src="js/shortcodes.js"></script>     
	<script type="text/javascript" src="js/scripts.js"></script>            
                   
  	
</body>

</html>